.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
}
.custom--btn{
    display: flex;
    margin: auto;
}
.error-msg {
    width: 50%;
    margin: auto;
}